
<div class="container-show">
  <div class="card-show-all">

    <div class = "cards-left">
      <div class="pokemon-card">
        <div class = "card-image">
          <% if @pokemon.photo.attached? %>
            <%= cl_image_tag @pokemon.photo.key, height: 300, crop: :fill %>
          <% else %>
            <%= cl_image_tag("tfoqtj3tttbjd0satx2t", width: 400, height: 300, crop: :fill) %>
          <% end %>
        </div>
        <div class="pokemon-description">
          <p><%= @pokemon.description %></p>
        </div>
      </div>
      <div class="button-all-down">
        <div class= "button-blue"></div>
        <div class= "button-green"></div>
        <div class= "button-orange"></div>
        <div class= "button-grey"></div>
      </div>
    </div>


    <div class = "cards-right">
        <h2><%= @pokemon.name.capitalize %></h2>

        <%if @pokemon.category == "Electric"%>
          <div class="electric">
        <%elsif @pokemon.category == "Fire"%>
          <div class="fire">
        <%elsif @pokemon.category == "Earth"%>
          <div class="earth">
        <%elsif @pokemon.category == "Psych"%>
          <div class="psych">
        <%elsif @pokemon.category == "Plant"%>
          <div class="plant">
        <%else%>
          <div class="water">
        <%end%>

            <div class="details">
                <div class= "detail-left">
                  <p><strong>Category</strong> : <%=@pokemon.category%></p>
                  <p><strong>Height</strong> : <%= @pokemon.height %> m</p>
                  <p><strong>Weight</strong> : <%= @pokemon.weight %> kg</p>
                </div>
                <div class = "detail-right">
                  <p><strong>Special Attack</strong> : <%= @pokemon.special_attack %></p>
                  <p><strong>Price per day</strong> : <%= @pokemon.price_per_day %> €</p>
                  <p><strong>Health Points</strong> : <%= @pokemon.health_point %></p>
                </div>
              </div>
            </div>
          <div class="show-button">
            <p><%= link_to raw('<i class="fas fa-arrow-left"></i>'), pokemons_path %></p>
            <p><div class= "button-blue-fat"></div></p>
          </div>
        </div>
    </div>
  </div>
</div>



<div>
   <form action="/pokemons/<%=@pokemon.id%>/bookings" class="flex-form" method="POST">
   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <label for="from">From</label>
      <input type="date" name="booking[start_date]" id="from" placeholder="Location">
      <label for="to">To</label>
      <input type="date" name="booking[end_date]" id="to"  />
      <input type="submit" value="Confirm booking of <%= @pokemon.name %>">
    </form>
</div>


