
<div class="banner">
  <div class="form-home">
    <%= render "shared/search_form" %>
  </div>
  <%= link_to("Get a random Pokemon", random_shot_path, { class: 'btn btn-shoot' }) %>
  <i class="fas fa-arrow-down"></i>
</div>

<div class="container-home">
  <div class="cards">
    <div class="home-card lifting-card">
      <p><%= link_to "Help you with heavy stuffs", heavy_stuffs_path %></p>
      <hr>
    </div>
    <div class="home-card flying-card">
      <p><%= link_to "Enjoy true freedom", true_freedom_path %></p>
      <hr>
    </div>
    <div class="home-card travelling-card">
      <p><%= link_to "Travel in hazardous places", hazardous_places_path %></p>
      <hr>
      </div>
    <div class="home-card sleeping-card">
      <p><%= link_to "Just enjoy a cozy day", cozy_day_path %></p>
      <hr>
    </div>
  </div>

  <div class="card-owner">
    <h2>Rent your Pokemon</h2>
    <p>Earn money, help the community, allow your pokemon to enjoy new adventures</p>
    <button class="btn btn-know-more "><%= link_to "Know more", know_more_path %></button>
  </div>
</div>
