<div class="form-index">
  <%= render "shared/search_form", id:"flex-form-search" %>
</div>

<div class="index-body-container">
  <div class="container-index">
    <div class="container-index-left">
      <% if ( params[:location] == "" || params[:location] == nil ) && @pokemons.length > 0 %>
        <h1><%= "All pokemons available in the world" %></h1>
      <% elsif params[:location] != "" && @pokemons.length > 0 %>
        <h1><%="Around you:"%></h1>
        <h3>+<%=@pokemons.length%> Pokemons in your area</h3>
      <% else %>
        <h3><%="No pokemon available in your area"%></h3>
      <% end %>
      <div class="cards cards-index mt-5">
        <% @pokemons.each do |pokemon| %>
          <%= link_to new_pokemon_booking_path(pokemon), class: "w-100" do %>
            <div class="card-pokemon">
              <%if pokemon.photo.attached? %>
                <img src="<%= cl_image_path pokemon.photo.key %>">
              <% else %>
                <img src="<%= image_path "verso-carte.png"%>">
              <% end %>
              <div class="card-description">
                <h3 class="name"><%= pokemon.name.upcase %></h3>
                <p class="category"><%= pokemon.category.upcase %></p>
                <p><%= pokemon.description.truncate(130) %></p>
              </div>
              <div class="info">
                <i class="fas fa-heart"></i>
                <div class="price-pokemon-index">
                  <p><strong><%= rand(1..5) %></strong><i class="fas fa-star"> </i><em><%= rand(10..100) %> reviews</em></p>
                  <p class="price"><%= pokemon.price_per_day %>€/day</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="map-index container-index-right" id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>






