<div class="form-index">
  <%= render "shared/search_form", id:"flex-form-search" %>
</div>

<div class="index-body-container">
  <div class="container-index">
    <div class="container-index-left">
      <% if ( params[:location] == "" || params[:location] == nil ) && @pokemons.length > 0 %>
        <h1><%= "All pokemons available in the world" %></h1>
      <% elsif params[:location] != "" && @pokemons.length > 0 %>
        <h1><%="Around you:"%></h1>
        <h3>+<%=@pokemons.length%> Pokemons in your area</h3>
      <% else %>
        <h3><%="No pokemon available in your area"%></h3>
      <% end %>
      <div class="cards cards-index">
        <% @pokemons.each do |pokemon| %>
        <%= link_to new_pokemon_booking_path(pokemon) do %>
            <%if pokemon.photo.attached? %>
              <div class="card-pokemon" style = "background-image: linear-gradient(rgba(30,30,30,0.2), rgba(30,30,30,0.2)), url('<%= cl_image_path pokemon.photo.key%>')">
            <% else %>
              <div class="card-pokemon" style = "background-image: linear-gradient(rgba(30,30,30,0.2), rgba(30,30,30,0.2)), url('<%= image_path "verso-carte.png" %>')">
            <% end %>
                <h3><%= pokemon.name.upcase %></h3>
                <p><%= pokemon.category.upcase %></p>
                <p><%= pokemon.price_per_day %>/day</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="map-index container-index-right" id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
</div>






