<div class="container m-5">
  <h2><%= @pokemon.name %></h2>

  <p><%= @pokemon.category %></p>
  <p><%= @pokemon.description %></p>
  <p><%= @pokemon.height %></p>
  <p><%= @pokemon.weight %></p>
  <p><%= @pokemon.special_attack %></p>
  <p><%= @pokemon.price_per_day %></p>
  <p><%= @pokemon.health_point %></p>
</div>
